<%= form_tag action: :ph1 do %>
  <div class="field">
    <%= label_tag :title, '動画タイトル：'  %><br />
    <%= text_field_tag :title %>
  </div>
  <%= submit_tag '検索' %>
<% end %>
<%= link_to "動画一覧へ戻る", articles_path %>